{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyDigiRoom - Explore</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body>
    {% include 'header.html' with nameplate="Explore" %}
    <div class="explore-main">
        <div class="explore-container">
            <div class="explore-left">
                <div class="explore-header">Explore</div>

                <!-- These spots are placeholders as of right now, since we require proper scripting for the functionality required. -->
                <div class="explore-room">
                    <img src="{% static 'images/room_preview.png' %}">
                    <div class="explore-room-test">
                        <h3>JohnDoe's Room</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea...
                        </p>
                    </div>
                </div>

                <div class="explore-room">
                    <img src="{% static 'images/room_preview.png' %}">
                    <div class="explore-room-test">
                        <h3>JaneDoe's Room</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea...
                        </p>
                    </div>
                </div>

                <div class="explore-room">
                    <img src="{% static 'images/room_preview.png' %}">
                    <div class="explore-room-test">
                        <h3>Alice's Room</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea...
                        </p>
                    </div>
                </div>
            </div>

            <div class="explore-right">
                <input class="explore-search" type="text" placeholder="Search Rooms">
                <div class="explore-friends">
                    <h3>Suggested Friends</h3>

                    <!-- Same as before, these accounts are placeholders meant to demonstrate, not the final design. -->
                    <div class="explore-account">
                        <img src="{% static 'images/person_icon.png' %}">
                        <div class="explore-account-info">
                            <b>JohnDoe</b>
                            <p>Status: Working</p>
                        </div>
                    </div>

                    <div class="explore-account">
                        <img src="{% static 'images/person_icon.png' %}">
                        <div class="explore-account-info">
                            <b>JaneDoe</b>
                            <p>Status: Busy</p>
                        </div>
                    </div>

                    <div class="explore-account">
                        <img src="{% static 'images/person_icon.png' %}">
                        <div class="explore-account-info">
                            <b>Alice</b>
                            <p>Status: Relaxing</p>
                        </div>
                    </div>

                    <div class="explore-account">
                        <img src="{% static 'images/person_icon.png' %}">
                        <div class="explore-account-info">
                            <b>Bob</b>
                            <p>Status: Playing</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="explore-footer">Click on a room to visit it!</div>
    </div>
</body>

</html>
