{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyDigiRoom - Friends</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body>
    {% include 'header.html' with nameplate="Friends" %}
    <div class="friends-main">
        <div class="friends-container">
            <div class="friends-left">
                <div class="friends-header">Friends</div>

                <div class="no-friends"> 
                    <p>No friends yet!</p>
                </div>
            </div>
            
            <div class="friends-right">
                <input type="text" placeholder="Search for friends" class="friends-search" autocomplete="off">
                <div class="friends-messaging">
                    <h3>Messaging</h3>
                    <p style="font-size: 12px;">Check back for a messaging update!</p>
                </div>
            </div>

        </div>
        <div class="friends-footer"></div>
    </div>
</body>