{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyDigiRoom - Home</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body>
    {% include 'header.html' with nameplate="" %}
    <main class="home-main">
        <section class="home-left">
            <h1>Welcome to MyDigiRoom!</h1>
            <h2>Here's the breakdown</h2>
            <div class ="info-block">
                <img src="{% static 'images/house_icon.png' %}" alt="House Icon">
                {% if request.session.userid %}
                    <p>This is where you’ll design your room! In the <a href="{% url 'users:viewRoom' urlID=request.session.userid %}"><span style="font-weight: 800;">My Room Page</span></a>, simply click on the edit button and explore how you can place and customize your objects. </p>
                {% else %}
                    <p>This is where you’ll design your room! In the <a href="{% url 'authenticate:login' %}"><span style="font-weight: 800;">My Room Page</span></a>, simply click on the edit button and explore how you can place and customize your objects. </p>
                {% endif %}
            </div>

            <div class ="info-block">
                <img src="{% static 'images/globe_icon.png' %}" alt="Globe Icon">
                <p>Bored of customizing your own room? Check out some others! On the <a href= "/users/explore"><span style="font-weight: 800;">Explore Page</span></a>, you can visit public rooms and interact with their objects. Here you’ll also see suggested friends based on your shared interests.</p>
            </div>

            <div class ="info-block">
                <img src="{% static 'images/smily_face.png' %}" alt="">
                <p>Keep up with your friends on the <a href= "/users/friends"><span style="font-weight: 800;">Friends Page</span></a>! When you friend someone, their profile and room will show up here! Stay tuned to see if we add a messaging feature!</p>
            </div>

            <div class ="info-block">
                <img src="{% static 'images/person_icon.png' %}" alt="">
                <p>Here, in the <a href="/users/profile"><span style="font-weight: 800;">Profile and Settings Pages</span></a>, you can manage your account details and room visibility. </p>
            </div>

            <div class ="home-bottom-button">
                {% if request.session.userid %}
                    <a href="{% url 'users:viewRoom' urlID=request.session.userid %}">
                        <span style="color: white;">
                            Get started designing!
                        </span>
                {% else %}
                    <a href="/authenticate/login">
                        <span style="color: white;">
                            Get started designing!
                        </span>
                {% endif %}
                </a>
            </div>
        </section>

        <section class="home-right">
                <img src="{% static 'images/book_pony_cake.png' %}" alt="Decorations" class="home-right-images">
        </section>

    </main>