{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyDigiRoom - My Room</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body>
    {% include 'header.html' with nameplate=targetedUser.username is_room=True %}
    <main>
        <div class="room-container">
            <h1 id="room-title">MyRoomName</h1>

            <button id="pencilButton" class="edit-button">✏️</button>

            <div id="expandingBox" class="edit-button-expand hidden">
                <h2>Temporary, Showcases Box.</h2>
                <br>
                <button onclick="closeDown();">close</button>
            </div>
        </div>
    </main>

    <!--
    {% if is_own_room %}
        <script src="{% static 'js/script.js' %}"></script>
    {% endif %}
    -->
</body>