{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyDigiRoom - My Profile</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body>
    <script src="{% static 'js/header_init.js' %}"></script>
    <div id="insert_header">
        <h1>Header Loading</h1>
    </div>
    <script>setHeader("My Profile");</script>

    <main class="prof-sett-page">
        <div class="prof-sett-content">
            <aside class="prof-sett-sidebar">
                <div>
                    <button id="nav-profile" class="active">My Profile</button>
                    <button id="nav-settings">Settings</a>
                </div>
                <form action="/users/logout" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="logout">Logout</button>
                </form>
            </aside>

            <section class="prof-sett-main">
                <h1>My Profile</h1>

                <div class="profile-top">
                    <div class="avatar"></div>
                    <p id="welcome-message">Hello {{user.username }}!</p>
                </div>

                <div class="profile-form">
                    <input id="email" type="text" placeholder="Email Address" value="{{ user.email }}">
                    <input id="name" type="text" placeholder="Name" value="{{ user.name }}">
                    <input id="username" type="text" placeholder="Username" value="{{ user.username }}">
                    <input id="college" type="text" placeholder="College" value="{{ user.college }}">
                    <input id="password" type="text" placeholder="Change Password (NOT IMPLEMENTED)">
                </div>
            </section>
        </div>

    </main>
</body>

<script src="{% static 'js/subtabProfileSettings.js' %}"></script>

</html>