{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyDigiRoom - My Profile</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body>
    <script src="{% static 'js/header_init.js' %}"></script>
    <div id="insert_header">
        <h1>Header Loading</h1>
    </div>
    <script>setHeader("My Profile");</script>

    <main class="prof-sett-page">
        <div class="prof-sett-content">
            <aside class="prof-sett-sidebar">
                <div>
                    <button id="nav-profile" class="active">My Profile</button>
                    <button id="nav-settings">Settings</a>
                </div>
                <form action="/users/logout" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="logout">Logout</button>
                </form>
            </aside>

            <section class="prof-sett-main">
                <h1>My Profile</h1>

                <div class="profile-top">
                    <div class="avatar"></div>
                    <p id="welcome-message">Hello {{request.session.username}}!</p>
                </div>

                <div class="profile-form">
                    <form method="POST" action="{% url 'users:updateProfile' %}">
                        {% csrf_token %}
                        <input id="email" name="email" type="text" placeholder="Email Address" value="{{ user.email }}">
                        <input id="username" name="username" type="text" placeholder="Username" value="{{ user.username }}">
                        <input id="name" name="name" type="text" placeholder="Name" value="{{ user.name }}">
                        <input id="college" name="college" type="text" placeholder="College" value="{{ user.college }}">
                        <input id="password" name="password" type="password" placeholder="Change Password">
                        <div class="save-button">
                            <button type="submit" class="profile-save-button">Save Changes</button>
                        </div>
                    </form>
                    <!-- This is quite nasty, but essentially this prints out either a success or error and the right color, its a bit foul but at the moment it'll be fine. -->
                    {% if messages %}
                        {% for message in messages %}
                            <p {% if message.tags %} class="{{ message.tags }}" 
                            style="color: {% if 'error' in message.tags %} red {% elif 'success' in message.tags %} green {% else %} black {% endif %};">
                            {{ message }}
                            </p>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </section>
        </div>
    </main>
</body>

<script src="{% static 'js/subtabProfileSettings.js' %}"></script>

</html>