{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyDigiRoom - Settings</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body>
    <script src="{% static 'js/header_init.js' %}"></script>
    <div id="insert_header">
        <h1>Header Loading</h1>
    </div>
    <script>setHeader("Settings");</script>

    <main class="prof-sett-page">
        <div class="prof-sett-content">
            <aside class="prof-sett-sidebar">
                <div>
                    <button id="nav-profile">My Profile</button>
                    <button id="nav-settings" class="active">Settings</button>
                </div>
                <button class="logout">Logout</button>
            </aside>

            <section class="prof-sett-main">
                <h1>Privacy Settings</h1>
                <div class="settings-group">
                    <p>Hide Room</p>
                    <input type="checkbox">
                </div>
            </section>
        </div>

    </main>
</body>

<script src="{% static 'js/profileChecker.js' %}"></script>
<script src="{% static 'js/subtabProfileSettings.js' %}"></script>

</html>