:root{
    /*primary colors*/
    --primary-green: #90E626 ;
    --primary-blue: #4272FF;
    --primary-orange: #FF7E42;
    --primary-yellow: #FFB343;
    --primary-teal: #42EAFF;

    /*neutrals*/
    --white: #FFFFFF;
    --light-gray: #F3F5F7;
    --mid-gray: #D9D9D9;
    --dark-gray: #6C7179;
    --black: #0D1014;

    /*layout*/
    --border-radius: 20px;
    --padding: 16px;
}

body {
  font-family: 'K2D', sans-serif;
  background-color: var(--light-gray);
  color: var(--black);
}




/*sidebar: profile and settings pages*/
.sidebar{ 
    width: 220px;
    background: var(--mid-gray);
    border-radius: var(--border-radius);
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar button{ 
    border: none;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 15px;
}

/* layout wrapper: profile and settings pages*/
.page {
  padding: 20px;
}

.content {
  display: flex;
  gap: 20px;
}






/*search bar: explore and friends pages*/



/*some resources:
https://www.w3schools.com/cssref/index.php 
https://www.w3schools.com/css/css3_variables.asp*/
