p {text-align: left;}

 body{
    margin:0px;
    padding:0px;
 }

.header {
    /* display: inline-flexbox; */
    /* border: 5px outset red; */
    /* margin:0px;
    padding:0px; */
    width: 100%;
    background-color: #d9d9d9;
    text-align: center;
}

.header_left {
    float: left;
    display: inline-flex;
    text-align: center;
    padding: 5px;
    /* border: 5px inset blue; */
}

.header_logo {
    float: left;
    display: inline-flex;
    /* border: 5px inset green; */
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    padding: 5px;
    /* padding-right: 15px; */
}

.header_center {
    /* float: right; */
    display: inline-flex;
    text-align: center;
}


.header_right {
    float: right;
    display: inline-flex;
    text-align: center;
    padding: 5px;
    /* border: 5px inset blue; */
}


.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 100%;
}

.log_in {
    text-align: center;
    border: 5px inset #6c7179;
    padding-top: 25%;
    padding-bottom: 120%;
}

.log_in_placement{
    text-align: center;
    padding: 5%;
}

.log_in_text {
    display: grid;
    width: 95%;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    text-align: left;
    /* text-align: top; */
    /* padding-top: 5px; */
    /* padding-right: 50px; */
    background-color: #d9d9d9;
    font-size: 16px;
}

.log_in_button {
    padding: 10%;
}