{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyDigiRoom - Login</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body>
    <div class="container">
        <div class="left-of-log-in">
            <img src="{% static 'images/bigcat.png' %}" alt="Big Cat">
        </div>
        <div class="log-in">
            <img src="{% static 'images/logo.png' %}" alt="Logo">
            <form method="POST" action="{% url 'authenticate:login' %}">
                <!-- Django login logic required to properly use the Python logic
                     CSRF token to protect user POST requests                 -->
                {% csrf_token %}
                <div class="log-in-placement">
                    <input type="text" class="log-in-text" id="username" placeholder="Username" name="username">
                </div>
                <div class="log-in-placement">
                    <input type="password" class="log-in-text" id="password" placeholder="Password" name="password">
                </div>
                <div class="log-in-placement">
                    <button class="log-in-button" type="submit">Log In</button>
                    <!-- Error handling -->
                    {% if messages %}
                        {% for message in messages %}
                            <p id="error" style="color: red">{{ message }}</p>
                        {% endfor %}
                    {% endif %}
                </div>
            </form>
        </div>
    </div>

    <script>
        // For now, this will do fine. But later this should be properly implemented.
        const username = "{{ request.session.username }}";
        if (username) {
            localStorage.setItem("loggedIn", username);
        }
    </script>
</body>

</html>